@viewport {
    orientation: portrait;
}
body {
    overflow: hidden;
}
.skyTheme {
    background-color: #c5e0ff !important;
    text-align: center;
    text-shadow: 0 0px 0 #eee !important;
}
.fixedPos {
    position: fixed !important;
}
.buttonMargin {
    margin: 20px 10px;
}
.centerInParent {
    margin: 20% 0 !important;
}
canvas {
    touch-action: initial !important;
}
