<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        version     = "1.0.0"
        versionCode = "10" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="3.5.0" />

        <name>Kung Fu Koala</name>

        <description>
        Jump with your Kung Fu Koala through the sky. Fun game, fun koala!
        Keep jumping through the sky between the clouds. Jump to catch the coins. Try to catch as many coins as possible with your Kung Fu Koala. Don't let your Kong Fu Koala hit a rainy cloud!
        </description>

        <author href="http://www.topidee.be" email="jan.bruyninckx1@gmail.com">
        Jan Bruyninckx
        </author>

    </widget>